<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sunshangxiang (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,127}</string>
                <key>spriteSourceSize</key>
                <string>{95,127}</string>
                <key>textureRect</key>
                <string>{{0,0},{95,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshangxiang (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,126}</string>
                <key>spriteSourceSize</key>
                <string>{66,126}</string>
                <key>textureRect</key>
                <string>{{95,0},{66,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshangxiang (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,124}</string>
                <key>spriteSourceSize</key>
                <string>{64,124}</string>
                <key>textureRect</key>
                <string>{{161,0},{64,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshangxiang (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,126}</string>
                <key>spriteSourceSize</key>
                <string>{73,126}</string>
                <key>textureRect</key>
                <string>{{225,0},{73,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshangxiang (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,127}</string>
                <key>spriteSourceSize</key>
                <string>{71,127}</string>
                <key>textureRect</key>
                <string>{{298,0},{71,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshangxiang (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,127}</string>
                <key>spriteSourceSize</key>
                <string>{70,127}</string>
                <key>textureRect</key>
                <string>{{369,0},{70,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshangxiang (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,127}</string>
                <key>spriteSourceSize</key>
                <string>{68,127}</string>
                <key>textureRect</key>
                <string>{{439,0},{68,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sunshangxiang (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,127}</string>
                <key>spriteSourceSize</key>
                <string>{70,127}</string>
                <key>textureRect</key>
                <string>{{507,0},{70,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sunshangxiang.png</string>
            <key>size</key>
            <string>{577,127}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db907aaa3b12efd768b95e163f151459:340dfe650b50a5307f206883e9d9c236:d4d793631bd77179b9a328d55b81437a$</string>
            <key>textureFileName</key>
            <string>sunshangxiang.png</string>
        </dict>
    </dict>
</plist>
