<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hit (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,142}</string>
                <key>spriteSourceSize</key>
                <string>{167,142}</string>
                <key>textureRect</key>
                <string>{{0,0},{167,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,125}</string>
                <key>spriteSourceSize</key>
                <string>{129,125}</string>
                <key>textureRect</key>
                <string>{{1325,0},{129,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,126}</string>
                <key>spriteSourceSize</key>
                <string>{133,126}</string>
                <key>textureRect</key>
                <string>{{1454,0},{133,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,138}</string>
                <key>spriteSourceSize</key>
                <string>{147,138}</string>
                <key>textureRect</key>
                <string>{{167,0},{147,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,134}</string>
                <key>spriteSourceSize</key>
                <string>{129,134}</string>
                <key>textureRect</key>
                <string>{{314,0},{129,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,138}</string>
                <key>spriteSourceSize</key>
                <string>{213,138}</string>
                <key>textureRect</key>
                <string>{{443,0},{213,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,144}</string>
                <key>spriteSourceSize</key>
                <string>{149,144}</string>
                <key>textureRect</key>
                <string>{{656,0},{149,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,144}</string>
                <key>spriteSourceSize</key>
                <string>{148,144}</string>
                <key>textureRect</key>
                <string>{{805,0},{148,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,144}</string>
                <key>spriteSourceSize</key>
                <string>{121,144}</string>
                <key>textureRect</key>
                <string>{{953,0},{121,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,148}</string>
                <key>spriteSourceSize</key>
                <string>{120,148}</string>
                <key>textureRect</key>
                <string>{{1074,0},{120,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hit (9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,133}</string>
                <key>spriteSourceSize</key>
                <string>{131,133}</string>
                <key>textureRect</key>
                <string>{{1194,0},{131,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dengmaohit.png</string>
            <key>size</key>
            <string>{1587,148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dec304b93bd5c8e66109f338b8c7c1bb:566fbfe05efab443845f05333a3bac96:8ab530ddffe0e5665b62199d82c1840d$</string>
            <key>textureFileName</key>
            <string>dengmaohit.png</string>
        </dict>
    </dict>
</plist>
