<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dengmaowalk (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,152}</string>
                <key>spriteSourceSize</key>
                <string>{116,152}</string>
                <key>textureRect</key>
                <string>{{0,443},{116,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengmaowalk (2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,144}</string>
                <key>spriteSourceSize</key>
                <string>{116,144}</string>
                <key>textureRect</key>
                <string>{{0,0},{116,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengmaowalk (3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,146}</string>
                <key>spriteSourceSize</key>
                <string>{116,146}</string>
                <key>textureRect</key>
                <string>{{0,145},{116,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengmaowalk (4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,151}</string>
                <key>spriteSourceSize</key>
                <string>{116,151}</string>
                <key>textureRect</key>
                <string>{{0,292},{116,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengmaowalk (5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,151}</string>
                <key>spriteSourceSize</key>
                <string>{117,151}</string>
                <key>textureRect</key>
                <string>{{116,292},{117,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengmaowalk (6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,145}</string>
                <key>spriteSourceSize</key>
                <string>{118,145}</string>
                <key>textureRect</key>
                <string>{{116,0},{118,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengmaowalk (7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,147}</string>
                <key>spriteSourceSize</key>
                <string>{118,147}</string>
                <key>textureRect</key>
                <string>{{116,145},{118,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dengmaowalk (8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,152}</string>
                <key>spriteSourceSize</key>
                <string>{116,152}</string>
                <key>textureRect</key>
                <string>{{116,443},{116,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dengmaowalk.png</string>
            <key>size</key>
            <string>{234,595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a166a3bbd9386268d1b354db92bbce58:56e2521e734e397549fcac3e2da8c1ac:81e9d92f4910bf28c39fef61ecd18c72$</string>
            <key>textureFileName</key>
            <string>dengmaowalk.png</string>
        </dict>
    </dict>
</plist>
