<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yudu1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,155}</string>
                <key>spriteSourceSize</key>
                <string>{190,155}</string>
                <key>textureRect</key>
                <string>{{458,146},{190,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,186}</string>
                <key>spriteSourceSize</key>
                <string>{210,186}</string>
                <key>textureRect</key>
                <string>{{525,303},{210,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,200}</string>
                <key>spriteSourceSize</key>
                <string>{190,200}</string>
                <key>textureRect</key>
                <string>{{735,303},{190,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,153}</string>
                <key>spriteSourceSize</key>
                <string>{221,153}</string>
                <key>textureRect</key>
                <string>{{0,146},{221,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,146}</string>
                <key>spriteSourceSize</key>
                <string>{183,146}</string>
                <key>textureRect</key>
                <string>{{570,0},{183,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,146}</string>
                <key>spriteSourceSize</key>
                <string>{181,146}</string>
                <key>textureRect</key>
                <string>{{389,0},{181,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,157}</string>
                <key>spriteSourceSize</key>
                <string>{160,157}</string>
                <key>textureRect</key>
                <string>{{128,303},{160,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,157}</string>
                <key>spriteSourceSize</key>
                <string>{140,157}</string>
                <key>textureRect</key>
                <string>{{794,146},{140,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,157}</string>
                <key>spriteSourceSize</key>
                <string>{128,157}</string>
                <key>textureRect</key>
                <string>{{0,303},{128,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,155}</string>
                <key>spriteSourceSize</key>
                <string>{146,155}</string>
                <key>textureRect</key>
                <string>{{648,146},{146,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,141}</string>
                <key>spriteSourceSize</key>
                <string>{180,141}</string>
                <key>textureRect</key>
                <string>{{0,0},{180,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,144}</string>
                <key>spriteSourceSize</key>
                <string>{209,144}</string>
                <key>textureRect</key>
                <string>{{180,0},{209,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,153}</string>
                <key>spriteSourceSize</key>
                <string>{237,153}</string>
                <key>textureRect</key>
                <string>{{221,146},{237,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yudu9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,159}</string>
                <key>spriteSourceSize</key>
                <string>{237,159}</string>
                <key>textureRect</key>
                <string>{{288,303},{237,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>yudu.png</string>
            <key>size</key>
            <string>{934,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b590e07c6b9db52172fb04dfed45227:3a46b106c5e099d28b9ce1104815eea7:9a41546d27094de76830152a639d9775$</string>
            <key>textureFileName</key>
            <string>yudu.png</string>
        </dict>
    </dict>
</plist>
